<!DOCTYPE html>
<html>
  {%include 'head.html'%}

  <body class="hold-transition skin-green layout-top-nav">
    <div class="wrapper">
  
      
      {%include 'header.html'%}

    <div class="content-wrapper">
      <div class="container">
        <section class="content-header">
            {% for message in get_flashed_messages()%}
          <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              {{ message }}
          </div>
            {% endfor%}
        </section>

        <section class="content">
          <div class="box box-primary">
            <center><b>Equipment</b></center>
            {%include 'routes.html'%}
            <div class="box-body">
              <table id="dataequipment" class="table table-bordered table-striped">
                <thead align="center">
                  <tr>
                    <th >WIA</th>
                    <th >Description</th>
                    <th >Location</th>
                  </tr>
                </thead>
                
                <tbody>
                    {% if data|length == 0 %}
                  <tr>
                    <td>No Data</td>
                    <td></td>
                    <td></td>
                  </tr>
                    {% else %}
                  <tr>
                      {% for row in data %}
                    <td>{{ row[1] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[9] }}</td>
                    <!--<td>{% if row[3] == 'on' %}
                          Yes
                        {% else %}
                          No
                        {% endif %}
                    </td>!-->
                    <td align="center">
                      <a href="/viewequipment/{{ row[0]}}">
                        <button type="button" class="btn btn-sm btn-success btn-flat" title="View"><span class="glyphicon glyphicon-eye-open"></span></button>
                      </a>
                      <a href="/updateequipment/{{ row[0]}}">
                        <button type="button" class="btn btn-sm btn-warning btn-flat" title="Update"><span class="glyphicon glyphicon-pencil"></span></button>
                      </a>
                      <a href="/deleteequipment/{{ row[0]}}">
                        <button type="button" class="btn btn-sm btn-danger btn-flat" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
                      </a>
                    </td>
                  </tr>
                      {% endfor %}
                    {% endif%}   
                </tbody>
              </table>
              <a href="/addequipment">
                <button type="button" class="btn btn-primary btn-flat">
                  <span class="glyphicon glyphicon-plus"></span>Add Equipment
                </button>
              </a>
              <a href="{{ url_for('equip.download_equipment_csv') }}">
                <button type="button" class="btn btn-primary btn-flat">
                  <span class="glyphicon glyphicon-plus"></span>Download CSV
                </button>
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>

    {%include 'footer.html'%}
  </div>
  

  <script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/app.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#dataequipment').DataTable({
        paging: true,  // Enable or disable pagination
        searching: true,  // Enable or disable search functionality
        ordering: true,  // Enable or disable column ordering (sorting)
        info: true,  // Show information about the number of records being displayed
        autoWidth: false,  // Automatically adjust column widths
        responsive: true,  // Enable responsiveness
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],  // Set the options for the number of records to show
        columnDefs: [
          {
            targets: [3],  // Disable sorting on the 4th column (index 3)
            orderable: false,
            searchable: false
          }
        ]
      });
    });
  </script>
  

</body>
</html>
