<div class="box-header">
    <center>
      <a href="/">
        <button type="button" class="btn btn-primary btn-flat">
        Equipment
        </button>
      </a>
      <a href="/category">
          <button type="button" class="btn btn-primary btn-flat">
          Category
          </button>
      </a>
      <a href="/condition">
          <button type="button" class="btn btn-primary btn-flat">
           Condition
          </button>
      </a>
      <a href="/grant">
          <button type="button" class="btn btn-primary btn-flat">
           Grant
          </button>
      </a>
      <a href="/location">
          <button type="button" class="btn btn-primary btn-flat">
            Location
          </button>
      </a>
      <a href="/owner">
          <button type="button" class="btn btn-primary btn-flat">
            Owner
          </button>
      </a>
    </center>
  </div>